.account{
    margin-right: auto;
    margin-left: auto;
    height:100vh;
    min-height: 500px;
    box-shadow: 0 0 5px rgb(214, 209, 209),
                0 0 5px rgb(180, 176, 176);
    font-size: smaller;
    color: black;
    display: flex;
    flex-direction: column;   
    animation-duration:1s;
    animation-name:s;
    animation-fill-mode: forwards;
}
@keyframes s{
    from{
        width: 0px;
    }
    to{
        width: 470px;
    }

}

.acc-label,.acc-inp{
    width: 70%;
    height:20px;
    color: black;
    margin-left: 50px;
    font-size: larger;
}

.mid-sec{
    margin-top: 50px;
    display: flex;
    gap:5px;
    flex-direction: column;
}

.acc-inp{
    border: 1px solid black;
    margin-bottom: 20px;
    height: 30px;
}

.account>button{
    background-color:rgb(230, 139, 54);
    align-self: center;
    width: 40%;
    margin-left: -5%;
    height: 40px;
    margin-top: 5px;
    font-size: large;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 10px;
}


.hide{
    display: none;
}


.head{
    height: fit-content;
}