*{
    color: white;
    overflow-y: scroll;
}
.footer{
    position: relative;
    width: 100vw;
    bottom: 0;
    background-color: black;
    padding: 15px;
    height: 200px;
    display: flex;
    flex-direction: row;
}
.c1{
    font-size: x-larger;
    margin-left: 5%;
    height: 100%;
    padding-left: 50px;
    /* background-color: aqua; */
}

.c1>p{
    font-size: medium;
    color: rgb(174, 178, 182);
}
.flag-img{
    width: 25px;
    height: 20px;
}

.logo-pos{
    height: 100%;
    display: flex;
}

.logo-img{
    align-self: center;
    height: 80%;
    border-radius: 50%;
}

.logo-pos>p{
    align-self: center;
    margin: 10px;
    font-size:300%;
    font-weight:bolder;
    text-decoration: underline;
}


.imp-link{
    display: flex;
    justify-content: space-around;
    gap: 50px;position: absolute;
    height: 50%;
    align-items: flex-end;

}
.a{
    width: 50px;
}

.seller{
    position: absolute;
    right:0;
    margin-right: 5%;
}


@media (max-width:700px)
{
    .footer{
        flex-direction: column;
    }
}