.bar{
    height: 50px;
    width: 100vw;
    background-color: coral;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bar1,.search,.bar2,.bar3{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    font-weight: 900;
}


.logo{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.logotext{
    color: white;
    font-family:cursive;
    font-weight: 600;
    font-size: 250%;
    margin-left: 5px;
}

.bar1{
    margin-left: 20px;
    overflow: hidden;
}

.search>img,.bar2>img,.bar3>img{
    width: 25px;
    height: 25px;
}

.bar2{
    gap: 15px;
}

.bar3{
    margin-right: 10px;
}


@media (max-width:850px) {
    .bar2{
        display: none;
    }
    
}


.search>input{
    height: 90%;
    color: black;
    font-weight: 300;
}
.search>img{
    cursor: pointer;
}