.head{
    color: black;
    margin-top: 2%;
    text-align: center;
    font-weight: 400;
    font-size: 140%;
}
.list{
    width: 100%;
}

.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
    width:max-content;
    margin: 5px 0px;
    height: fit-content;
}
.imenu{
    width: 130px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}
@media (max-width:750px) {
    .imenu{
        height:130px;
        width: 100px;
    }    
}