.res-image{
    width: 360px;
    height: 250px;
    border-radius:10px;
    margin:5px;
    cursor: pointer;
}

.main-cont{
    margin-top: 10px;
    height: fit-content;
    width: 370px;
    border-radius: 10px;
}
.res-name,.stars{
    color: black;
    text-align: left;
    font-size: medium;
    font-weight: 300;
    padding-left:5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 45%;
    padding-bottom: 4px;
}

.address,.cuisine{
    width: 55%;
    color: black;
    padding-left: 5px;
    font-size: 80%;
    font-weight: 150;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-cont:hover{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3),
              0 0 5px 5px rgba(255, 255, 255, 0.2);
}


.status{
    padding:5px 0 5px 5px;
    color: green;
}


.distance{
    color: cornflowerblue;
    font-size: small;
    font-weight: 800;
    padding-right: 5px;
}

.bottom-status{
    display: flex;
    justify-content: space-between;
}

.price{
    color: black;
    margin-right: 5px;
}


.second-layer{
    display: flex;
    justify-content: space-between;
}


.top-layer{ 
    width: 100%;
    display: flex;
    height: 20px;
    justify-content: space-between;
    align-items: center;
}


.star{
    color: white;
    height: 120%;
    background-color:green;
    align-content: center;
    width:fit-content;
    justify-self:end;
    margin-left: auto;
    font-size: 70%;
    height: 90%;
    padding: 1px;
}

.img-star{
    height: 70%;
    align-self: center;
    background-color: green;
    margin-right: 5px;
}