.res-main{
    margin-top:3%;
    width: 100%;
    height: 70vh;
}

.title{
    width: 100%;
    text-align: center;
    color:black;
    font-size: 150%;
    margin-bottom: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.res-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 30px;
    justify-content: center;
    min-height: fit-content;
    margin-bottom: 40px;
    padding-bottom: 20px;
}